/** @format */

/******* Start variables *********/
:root {
	--main-color: #10cab7;
	--secondary-color: #2c4755;
	--section-background: ##f6f6f6;
	--space16: 16px;
	--space19: 19px;
	--space20: 20px;
	--space30: 30px;
	--space60: 60px;
	--line-height-space: 1.7;
}
/********** End variables **********/

/********** Start global rules **********/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Work Sans", sans-serif; /* Google Web Fonts */
}

.container {
	padding-left: var(--space16);
	padding-right: var(--space16);
	margin-left: auto;
	margin-right: auto;
}

/* Apply styles starting from Small devices (landscape phones, 576px ) and up to Medium devices (tablets, 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Apply styles starting from medium devices(tablets, 768px) and up to Large devices (desktops, 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.container {
		width: 750px;
	}
}

/* Apply styles starting from Large devices (desktops, 992px) and up to X-Large devices (large desktops, 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container {
		width: 970px;
	}
}

/* Apply styles starting from X-Large devices (large desktops, 1200px ) and up to XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {
	.container {
		width: 1170px;
	}
}
/********** End global rules **********/

/********** Start Header Section **********/
.header {
	height: 15vh;
	min-width: 100%;
	padding-top: var(--space16);
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .header-logo {
	width: 70px;
}

.header .header-nav {
	position: relative;
}

.header .header-nav-left {
	position: absolute;
	min-width: 200px;
	right: 0;
	top: 90%;
	z-index: 10;
}

.header .header-nav-left::before {
	content: "";
	position: absolute;
	right: 0px;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid #ddd;
	border-left: 10px solid transparent;
	top: -10px;
}

.header .header-nav-left:hover .header-nav-left-links {
	display: block;
}

.header-nav-left-links {
	background-color: var(--section-background);
	margin-top: var(--space16);
	display: none;
}

.header .header-nav-left a {
	display: block;
	text-decoration: none;
	color: #333;
	padding: var(--space16);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.header .header-nav-left-links a:hover {
	padding-left: 25px;
}

.header .header-nav-left-links div:not(:last-child) {
	border: 1px solid #ddd;
}
/********** End Header Section **********/

/********** Start Landing Section **********/
.landing {
	background: url(../images/landing.jpg) no-repeat center center/cover;
	height: 85vh;
	position: relative;
}

.landing .landing-intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 320px;
	max-width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.landing .landing-intro-text h1 {
	font-size: 50px;
	font-weight: bold;
	color: var(--main-color);
}

.landing .landing-intro-text p {
	font-size: var(--space19);
	line-height: var(--line-height-space);
}
/********** End Landing Section **********/

/********** Start Features Section **********/
.features {
	padding-top: var(--space60);
	padding-bottom: var(--space60);
	background-color: var(--section-background);
}

.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: var(--space20);
}

.features .feat {
	padding: var(--main-spaceing);
	text-align: center;
}

.features .feat i {
	color: var(--main-color);
}

.features .feat h3 {
	font-weight: 800;

	margin: var(--space20) 0;
}

.features .feat p {
	line-height: var(--line-height-space);
	color: #777;
	font-size: var(--space19);
}
/********** End Features Section **********/

/********** Start Services Section **********/
.services {
	padding-top: var(--space60);
	padding-bottom: var(--space60);
}

.services .services-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: var(--space30);
	padding-top: var(--space60);
}

.services .services-wrapper .servs {
	display: flex;
	margin-bottom: var(--space30);
}

@media screen and (max-width: 768px) {
	.services .services-wrapper .servs {
		flex-direction: column;
		text-align: center;
	}
}

.services .services-wrapper .servs .fas {
	color: var(--main-color);
	flex-basis: 60px;
}

.services .services-wrapper .servs .text {
	flex: 1;
}

.services .services-wrapper .servs .text h3 {
	margin: 0 0 var(--space20);
}

.services .services-wrapper .servs .text p {
	line-height: var(--line-height-space);
	color: #444;
	font-size: var(--space19);
	font-weight: 300;
}

.services .services-wrapper .image {
	text-align: center;
	position: relative;
}
.services .services-wrapper .image img {
	width: 260px;
}

.services .services-wrapper .image::before {
	content: "";
	position: absolute;
	background-color: var(--secondary-color);
	width: 90px;
	height: calc(100% + 100px) !important;
	right: 0;
	top: -50px;
	z-index: -2;
}

@media screen and (max-width: 1199px) {
	.services .services-wrapper .image img.image-colm {
		display: none;
	}
	.services .services-wrapper .image::before {
		display: none;
	}
}
/********** End Services Section **********/

/********** Start Portfolio Section **********/
.portfolio {
	padding-top: var(--space60);
	padding-bottom: var(--space60);
	background-color: var(--section-background);
}

.portfolio .portfolio-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-gap: var(--space30);
	padding-top: var(--space60);
}

.portfolio .portfolio-wrapper .card {
	background-color: white;
}

.portfolio .portfolio-wrapper .card img {
	max-width: 100%;
}

.portfolio .portfolio-wrapper .card .info {
	padding: var(--space20);
}

.portfolio .portfolio-wrapper .card .info h3 {
	margin: var(--space20) 0;
}

.portfolio .portfolio-wrapper .card .info p {
	line-height: var(--line-height-space);
	color: #777;
	font-size: var(--space19);
	font-weight: 300;
}

/********** End Portfolio Section **********/

/********** Start components **********/
.specail-heading {
	color: #ebeced;
	font-size: 100px;
	text-align: center;
	font-weight: 800;
	letter-spacing: -3px;
	margin: 0;
}

/* next  select the  next p after (specail-heading ) */
.specail-heading + p {
	margin: 0;
	margin-top: -30px;
	font-size: var(--space19);
	text-align: center;
	color: #797979;
}

@media screen and (max-width: 768px) {
	.specail-heading {
		font-size: 60px;
	}

	.specail-heading + p {
		margin: 0;
		margin-top: -16px;
	}
}
/********** End components **********/
